

/*
	Standard CSS Reset
	This is used to account for differences in browsers.
	Without a reset stylesheet there could be differences
	between browsers when loading your html website.
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* fin del reset css */


/* .container_form{
	width: 240px;
	height: 320px;
	margin: auto 0;
	background-color: rgba(9, 16, 121, 0.8);
	padding: 20px;
	box-sizing: border-box;
}

.container_form h2{
	background: chartreuse;
	font-size: 1.35em;
	text-align: center;
}

.container_form h2, label{
	color: #fff;
	width: 100%;
	text-align: justify;
}

.container_form input{
	text-align: left;
	width: 80%;
	outline: none;
}

#submit_form{
	margin-top: 20px;
	text-align: center;
	color: #fff;
	width: 75%;
	height: 34px;
	border: 0px;
	background-color: rgba(0, 0, 3, 0.9);
	border-radius: 15px;
} */


body{
	background-image: url("Img/fondo3.jpeg");
	background-size: 100vw 100vh;
	background-attachment: fixed;
	margin: 0;
	font-family: monospace;
}


.container_form{
	padding: 40px;
	width: 450px;
	margin: 25px auto;
	background-color: rgb(0, 0, 0, 0.7);
	box-sizing: border-box;
	margin-top: 20px;
	border-radius: 7px;
}

.container_form h2{
	letter-spacing: 5px;
	color: #fff;
	text-align: center;
	margin: 0;
	font-size: 1.8em;
	margin-bottom: 30px;
}

.container_form label{
	color: #fff;
	font-size: 1.14em;
}

.container_form label,input{
	outline: none;
	width: 100%;
	margin-bottom: 20px;
	padding: 7px;
	box-sizing: border-box;
}

.container_form input{
	/* background-color: #fff2; */
	background: linear-gradient(#fff2, #fff4);
	border: 2px solid #000;
	color: #fff;
	border-radius: 4px;
	margin-top: 5px;
}

.container_form input:focus, input:hover{
	background-color: rgb(8, 7, 71);
}


#submit{
	text-align: center;
	border-radius: 7px;
	margin: 0;
	margin-top: 20px;
	width: 100%;
	height: 50px;
	letter-spacing: 1.7px;
}

#submit:hover{
	background-color: rgb(8, 7, 71);
}


.container_form div{
	margin-top: 17px;
	display: grid;
	grid-template-columns: repeat(2, 80px);
	grid-template-rows: repeat(3, 30px);
	justify-content: center;
}

.container_form div input{
	margin: auto;
}























